
.email-view {
    margin-top: 30px;
}

.email-view .avatar {
    display: inline-block;
}

.email-view .avatar img {
    width: 40px;
    border-radius: 50px;
    border: 2px solid #999;
    padding: 2px;
}

.email-view .top .address {
    display: inline-block;
    padding: 0 20px;
}

.email-view .top .address .subject {
    font-size: 1rem;
    font-weight: bold;
}
.email-view .top .address .email {
    /* font-size: 1rem; */
    font-weight: bold;
    color: #b6c7d1;
}

.email-view .close-btn {
    background-color: transparent;
    border:none;
    box-shadow:none;
    display: inline-block;
    position: absolute;
    right: 25px
}

.email-view .date {
    display: inline-block;
    position: absolute;
    right: 65px;
    font-size: 0.8rem
}

.close-btn .fa {
    color: #4a4a4a;
    font-size: 1.1rem
    
}

.close-btn .fa:active {
    font-size: 1rem
    
}