
.email-preview {
    /* display: flex;
    justify-content: flex-start; */
}

.email-preview .email-data {
    flex-grow: 1;
    padding-left: 25px;
    display: flex;
    justify-content: space-between;
}

.email-preview .sender {
    flex-basis: 200px;
}

.email-preview .subject {
    flex-grow: 1;
    padding-left: 10px;
}

/*.email-preview a .subject{
    display: block;
    width:50%
}*/

.email-preview .panel-icon {
    display: flex;
    justify-content: space-between;
    align-items:baseline
}

.email-preview .unread {
    font-weight: bolder;
}

.email-app .panel-tabs-container {
    display: flex;
    /* justify-content: space-between; */
}

.email-app .panel-tabs.left-side {
    flex-grow: 1;
    padding-left: 8px;
    justify-content: flex-start;
    border-right: none;
    border-top: none;
}
.email-app .panel-tabs.right-side {
    padding-right: 8px;
    justify-content: flex-end;
    border-left: none;
}

.email-app .fa-trash-o {
    padding: 3px 5px 0 0;
    cursor: pointer
}

.email-app .not-btn.compose {
    /*display: inline-block;*/
    width: 40px
}

.email-app .fa-pencil-square-o {
    padding-right: 3px;
    font-size: 1.6rem
}

.email-app .fa-pencil-square-o:hover {
    color: var(--hover-color)
}

.email-app .fa-pencil-square-o:active {
    font-size: 1.5rem
}

@media screen and (max-width : 1080px) {
    .email-app .fa-trash-o {
        font-size: 0.85rem;
    }
}