@import 'presets.css';
@import 'map-container.css';
@import 'place-preview.css';
@import 'search-bar.css';

/* * {
    outline: 1px solid hotpink !important;
} */

main {
    width: 95vw;
    height: calc(100vh - 60px);
    margin: auto;
}

.appsus-content {
    width: 100%;
    height: 100%;
    /* background-color: hotpink;     */
}