
.places {
    display: flex;
    /* flex-grow: 1; */
    /* height: calc(100vh - (0.7 * (100vh - 60px)));     */
}

.places .name {
    font-size: 1.1em;
    font-weight: bolder;
    text-shadow: 
        1px 1px 0 #f5f1e7,
        -1px -1px 0 #f5f1e7,
        -1px 1px 0 #f5f1e7,
        1px -1px 0 #f5f1e7;
}

.place-details {
    flex-grow: 1;
    width: 75vw;
    /* height: 100%; */
    margin: 5px 0;
    border-radius: 4px;
    border: 1px solid #b9b7b1;
    background-color: #f2ecde;
    color: #4e3936;
    padding: 10px;  
}

.place-details .detail {
    margin: 20px;
}

.place-details .name {
    font-size: 1.4em;
}

.place-details .image-viewer {
    position: relative;
}

.place-details .image-viewer .not-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f2ecde;
    transition: background-color .3s;
    padding: 5px 8px 5px 6px;
    border-radius: 16px;
}

.place-details .image-viewer .not-btn.right {
    right: 0;
    padding: 5px 6px 5px 8px;
}

.place-details .image-viewer .not-btn:hover {
    background-color: #ffffff;
}

.place-details .image-viewer .img {
    height: 140px;
    display: flex;
    justify-content: center;
}
.place-details .image-viewer .img img {
    height: 100%;
    max-width: 100%;
    border-radius: 4px;
    /* margin: auto; */
}

.place-details .buttons {
    display: flex;
    justify-content: flex-end;
}

.place-details .buttons .not-btn {
    margin: 0 5px 5px;
    transition: color .3s;
}

.place-details .buttons .not-btn:hover {
    color: #d28a5d;
}