
* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

button.not-btn {
    background-color: transparent;
    padding: 0 2px;
    border: none;
    outline: none;
    font-size: 1em;
    color: currentColor;
}

.notes app button.not-btn {
    outline: none;
    border: none;
    padding: 0;
    background-color: transparent;
    font-size: 1em;
}

.notesapp a {
    text-decoration: none;
    color: currentColor;
    transition: color .3s;
}

.notesapp a:hover {
    color: var(--hover-color);
}

.notesapp .is-flex {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    /*align-items: center */
}

.notesapp .is-flex-between {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    flex: auto;
    /*align-items: center */
}

.fa-thermometer-full {
    color: red
}
.fa-thermometer-half {
    color: #000aff
}

.fa-thermometer-empty {
    color: green
}